@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  
}
body{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}
.img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.img1{
    width: auto;
    height: 100px;
}
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(26, 23, 26);
    padding: 10px 50px;
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.nav{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}
.nav li a{
    text-decoration: none;
    font-weight: 500px;
    padding: 10px 20px;
    color: white;
    transition: background-color 0.3s ease;
    
}
.nav li a:hover{

    color: rgb(255, 242, 0);
    
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    padding: 70px;
    height: 90vh;
    background-image: url(/image/13548790\ \(1\).jpg);
    background-position: center;
    background-size: cover;
    color: white;
    
}
.searchicon {
    height: 20px;
    filter: invert(38);

}
.searchicon:hover{
    filter: invert(84%) sepia(88%) saturate(3145%) hue-rotate(1deg) brightness(102%) contrast(101%);
} 
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 100vw;
}
.rightcontainer{
    width: 50vw;
    border: 1px solid red;
    height: 60vh;
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}
.leftcontainer{
    width: 50vw;
    border: 1px solid red;
    height: 60vh;
}
.banner{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}